        
        /* ******************************* primary ******************************* */

@font-face {
    font-family: iransans;
    src: url(../fonts/FontsFree-Net-ir_sans.ttf);
}
body{
    background-color:var(--body);
    font-family: 'iransans';
    box-sizing: border-box;
    color: var(--white);
    max-width: 1600px;

}

::-webkit-scrollbar {
    height: 5px;              /* height of horizontal scrollbar â† You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 3px solid #cf871c;
  }

         /* ******************************* header of page ******************************* */
.backgroundImg{
    width: 100%;
    height: 166px;
    background-image:url("../img/header/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.1;
    z-index:-1;
}      
.backgroundImg::after {
    background: linear-gradient(rgba(192,160,40,0), rgb(192,160,40)) !important;
}

.backgroundImg:after {
    content: "";
    top: -150px;
    right: 0;
    bottom: 0px;
    left: 0;
    position: absolute;
}  
.logo{
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 15px;
}
.logo img{
    border-radius: 3px;
}
.info-header{
    display: flex;
    justify-content: center;
}
.info-header_instagram{
    display: flex;
    margin: 5px;
    margin-top: 15px;
    align-items: center;
}
.info-header_instagram img {
    width: 20px;
    padding: 5px;
}
.info-header_instagram span{
    font-size: 12px;
    color: var(--white);
}
.info-header_phone{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
}
.info-header_phone img{
    width: 20px;
    padding: 5px;
}
.info-header_phone span{
    font-size: 12px;
}

.form-select{
    color: black;
    position: absolute;
    top: 25px;
    left: 20px;
    width: 140px;
    height: 25px;
    font-size: 11px;
    background-color: rgb(205 171 44);
    border: none;
    border-radius: 5px;
    text-align: center;
}
         /* ******************************* header of page ---->about us ******************************* */

.wrapAboutUs{
	width:80%;
	display:block;
	margin:20px auto 20px auto;
}

.introAboutUs a{
	color:#000000;
	cursor:pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 13px;
}
.aboutUsLink{
    background-color: rgb(205 171 44);
}

/* Popup CSS */

.wrapAboutUs_popup{
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height:100%;
	width:100%;
	overflow:auto;
   background-color: rgba(210, 224, 193, 0.6);
}

.popupContainAboutUs{
	height:auto;
	width:80%;
	max-width:600px;
	margin:5% auto;
	display:block;
	border-radius:8px;
	overflow:hidden;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.titleAboutUs{
	width:100%;
	display:block;
	background:#f2da71;
	color:#111111;
	font-weight:700;
	padding:5px;
}

.titleAboutUs p{
	margin:5px;
}

.boxAboutUs{
	width:100%;
	display:block;
	background:#c1a736;
	padding:5px;
	color:#7f4711;
    text-align: center;
}

.boxAboutUs p{
	margin:20px;
    font-weight: 600;
}

.boxAboutUs button{
	padding:10px;
	margin:10px 0px 10px 0px;
	background:#c38710;
	color:#DFDFDF;
	border-radius:5px;
}
         /* ******************************* header of page ---->change theme ******************************* */

  .changeTheme{
    position: absolute;
    left: 180px;
    top: 30px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
  }
  
  .switch input {display:none;}
  
  .sliderTheme {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(237 200 60 / 90%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderTheme:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderTheme {
    background-color: #8396a5;
  }
  
  input:focus + .sliderTheme {
    box-shadow: 0 0 1px #8396a5;
  }
  
  input:checked + .sliderTheme:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderTheme.round {
    border-radius: 34px;
  }
  
  .sliderTheme.round:before {
    border-radius: 50%;
  }
    
    

         /* ******************************* menu bar ******************************* */

.menu-bar{
    margin: 40px 70px 0px 70px;
    direction: rtl;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}
.menu-bar_section{
    cursor: pointer;
    border-radius: 10px;
    background: var(--menubar);
    margin: 10px 5px;
    min-width: 90px;
    border: none;
    color: var(--white);
}
.menu-bar_section_click{
    background-color: var(--menubar-click-primary);
    background-image: var(--menubar-click);
}
.menu-bar_section img{
    width: 30px;
    vertical-align: middle;
    margin: 5px auto;
}
.menu-bar_section_info{
    text-align: center;
}
.menu-bar_section_name-en{
    font-size: 10px;
    padding: 3px 0;
}
.menu-bar_section_name-fa{
    font-size: 11px;
    padding: 3px 0;
    padding-bottom: 8px;
}
        
.main {
    background-color: inherit;
    grid-area: main;
    padding: 0;
}
.items {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}
.items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}
.item {
    display: inline-block;
}
a:hover {
    cursor: pointer;
}

         /* ******************************* dropdown ******************************* */

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgb(46 36 18 / 95%);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    direction: rtl;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-right: 100px;
    padding: 0 100px;
    padding-left: 200px;
  }
  
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .overlay-content a button:hover {
    background: rgb(235,173,96);
    background: radial-gradient(circle, rgba(235,173,96,1) 0%, rgba(133,90,37,1) 100%);
  }
  .dropdownButton{
    text-align: center;
    margin-top: 24px;
  }
  .dropdownButton button{
    border: none;
    background-color: inherit;
    font-size: 13px;
  }

         /* ******************************* sliders ******************************* */

.sliders{
    margin: 0px 30px;
}
.slider {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    flex-wrap: wrap; 
    max-width: 1600px;
} 

  /* Top line of all slides */
.hrLine{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px;
}
.hrLine p{
    color: var(--hrLineFont);
}
.hrLine span{
    background-color:var(--hrLineBack);
    flex-grow: 1;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

  /* The contents of the slides */
.menu_contant{
    display: flex;
    margin: 10px;
    max-width: 100%;
    width: 47%;
    background-color: var(--menu-item);
    border-radius: 5px;
    position: relative;
}
.menu_contant_image img{
    padding-bottom: 0px;
    border-radius: 5px;
    width: 150px;
    height: 100%;
}
.posPopular{
    position: absolute;
    /* left: 15px; */
    top: 15px;
    font-size: 20px;
}
.menu_contant_info h4{
    line-height: 15px;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 10px;
}
.menu_contant_info p{
    line-height: 15px;
    width: 90%;
    font-size: 0.75rem;
    opacity: 0.65;
    padding: 10px;

}
.menu_contant_info_price{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.menu_contant_info_price_contant{
    display: flex;
    align-items: center;
    padding-right: 5px;

}
.menu_contant_info_price_btn{
    background-color: var(--btn-order);
    cursor: pointer;
    padding: 8px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    font-size: 9px;
    font-family: 'iransans';
    width: 90px;
}
.Direction-rtl{
    left: 15px !important;
}
.Direction-ltr{
    right: 15px !important;
}
.Purchase-count{
    border: none;
    cursor: pointer;
    padding: 3px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
}

.btn-counter{
    background-color: inherit;
    border: none;
}

  /* When the product is finished */
.unavalable img{
    position: absolute;
    border-radius: 5px;
    height: 80%;
    right: 300px;
    top: 10px;
    opacity: 1 !important;
}
.non{
    opacity: 0.6;
}

         /* ******************************* popup ******************************* */

.modal{
    height: 600px;
    overflow-y: scroll !important;
}

.modal-content{
    background-color: var(--body);
    direction: rtl;
    border-radius: 30px;

}
.modal-title{
    margin-right: 25px;
}
.content_pay{
    height: 35px;
    width: 95%;
}
.modal-body img{
    width: auto;
    border-radius: 60%;

}
.modal-body h4{
    font-size: 10px;
    padding: 0 5px;
}
.modal-body p{
    font-size: 10px;
    padding: 5px;
}
.menu_contant_info-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.button-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    position: absolute;
}
.button-counter button{
    width: 17px;
    height: 17px;
    background-color: inherit;
    border: none;
}
.spanPurchase{
    font-size: 12px;
    padding: 0px 10px;
}
.btn-default {
    color: #ffffff;
    background-color:inherit;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border: none;
    border-color: #ccc;
}
 .btn-default:hover, .btn-default:focus, .btn-default:active:focus, .btn-default:active {
    color: #eec016;
    background-color: inherit;

    border: none;
}
.btn-info:active, .btn-info:hover, .btn-info:focus {
    color: #fff;
   
    background-color: var(--menubar-click-primary);
    background-image: var(--menubar-click);
}
.btn-info:focus{
    outline: none;
}
.payment-modal{
    padding: 10px 30px 30px 30px;
    font-size: 14px;
    font-weight: bold;
}
.pay-off{
    box-shadow: rgb(134, 53, 0) 0px -20px 30px -30px inset;
    background-color: rgb(192, 160, 40);
    width: 100%;
    border: none;
    min-height: 60px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    direction: rtl;
    font-family: 'iransans';
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.show{
    display: block;
}

         /* ******************************* change theme ******************************* */

.bodyBackgroundlight{
    background-color:var(--body);
}
.bodyBackgroundDark {
    background-color: rgb(16 12 12 / 90%) ;
}
.menu_contant-Backgroundlight{
    background-color: var(--menu-item);
}
.menu_contant-BackgroundDark {
    background-color: #dea6239c;
}
.menu_contant_info_price_btn-Backgroundlight{
    background-color: var(--btn-order);
}
.menu_contant_info_price_btn-BackgroundDark {
    /* background-color: #b6a193; */
    background-color: #be8b2796;
    /* border: 1px solid aqua; */
}
.headerBtn-Backgroundlight{
    background-color: rgb(205 171 44);
    /* color: #000000; */
}
.headerBtn-BackgroundDark {
    background-color: rgb(129 126 126);
    color: #ffffff !important;
    /* border: 1px solid #ebf8f8; */
}
.menu-bar_section_click-Backgroundlight{
    background-color: var(--menubar-click-primary);
    background-image: var(--menubar-click) !important;
}
.menu-bar_section_click-BackgroundDark{
    background-color: rgb(0, 0, 0) !important;
    background-image: radial-gradient(circle, rgb(216, 210, 202), rgb(105, 104, 103), rgb(0 0 0)) !important;
}
.active_menu-bar_section_click-Backgroundlight{
    background-color: var(--menubar-click-primary) ;
    background-image: var(--menubar-click) ;
}
.active_menu-bar_section_click-BackgroundDark{
    background-color: rgb(0, 0, 0) !important;
    background-image: radial-gradient(circle, rgb(216, 210, 202), rgb(105, 104, 103), rgb(0 0 0)) !important;
}
.focus_menu-bar_section_click-Backgroundlight{
    background-color: var(--menubar-click-primary) ;
    background-image: var(--menubar-click) ;
}
.focus_menu-bar_section_click-BackgroundDark{
    background-color: rgb(0, 0, 0) !important;
    background-image: radial-gradient(circle, rgb(216, 210, 202), rgb(105, 104, 103), rgb(0 0 0)) !important;
}
.pay-off-Backgroundlight{
    background-color: rgb(192, 160, 40) !important;
}
.pay-off-BackgroundDark{
    background-color: rgb(74 74 73) !important;
}
.menu_contant_bill-Backgroundlight{
    background-color: var(--menu-item) ;
}
.menu_contant_bill-BackgroundDark{
    background-color: rgb(16 16 16 / 80%) !important;
}
.box-Backgroundlight{
	background:#c1a736;
	color:#7f4711;
}
.box-BackgroundDark{
	background:rgb(16 16 16 / 80%);
	color:#ffffff;
}
.title-Backgroundlight{
	background:#f2da71;
}
.title-BackgroundDark{
	background:#d4d1c4;
}
.innerAboutBtn-Backgroundlight{
	background:#c38710;
}
.innerAboutBtn-BackgroundDark{
	background:#000000 !important;
}
.hrTheme-Backgroundlight{
	background-color:var(--hrLineBack);
}
.hrTheme-BackgroundDark {
    background-color: #fbffff !important;
}
.popular-Backgroundlight{
    color: #ffffff;
}
.popular-BackgroundDark{
    color: white;
}
.hover-overlay-content-Backgroundlight {
    background: rgb(235,173,96);
    background: radial-gradient(circle, rgba(235,173,96,1) 0%, rgba(133,90,37,1) 100%);
}
.hover-overlay-content-BackgroundDark {
    /* background: rgb(59, 58, 57) !important; */
    background: radial-gradient(circle, rgb(182 181 178) 0%, rgb(68 63 56) 100%) !important;
}

         /* ******************************* media ******************************* */
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

@media only screen and (max-width: 380px) {

    .menu_contant {
        width: 100%;
        height: 180px;
    }
    .menu_contant_image img{
        width: 50px;
    }
    .menu_contant_info_price_btn{
        width: 40px;
    }
    .form-select{
        width:80px ;
    }
    .optionSelectBox{
        width:80px;
    }
    .changeTheme {
        left: 25px;
        top: 60px;
    }
    
}

@media only screen and (max-width: 720px) and (min-width: 380px) {

    .menu_contant {
        width: 100%;
        height: 140px;
    }
    .menu_contant_image img{
        width: 80px;
    }
    .menu_contant_info_price_btn{
        width: 50px;
    }
    .form-select{
        width:100px ;
    }
    .optionSelectBox{
        width:50px !important;
        height: 20px;
    }
    .changeTheme {
        left: 25px;
        top: 60px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 720px) {
    .menu_contant {
        width: 46%;
        height: 140px;
    }
    .menu_contant_image img{
        width: 80px;
    }
    .menu_contant_info_price_btn{
        width: 50px;
    }
} 
@media only screen and (max-width: 960px) and (min-width: 768px) {
    .menu_contant {
        width: 47%;
        height: 140px;
    }
    .menu_contant_image img{
        width: 90px;
    }
    .menu_contant_info_price_btn{
        width: 60px;
    }
} 
@media only screen and (max-width: 992px) and (min-width: 960px) {
    .menu_contant {
        width: 47%;
        height: 130px;
    }
    .menu_contant_image img{
        width: 90px;
    }
    .menu_contant_info_price_btn{
        width: 60px;
    }
} 
@media only screen and (max-width: 1140px) and (min-width: 992px) {
    .menu_contant {
        width: 47%;
        height: 130px;
    }
    .menu_contant_image img{
        width: 100px;
    }
    .menu_contant_info_price_btn{
        width: 60px;
    }
} 
@media only screen and (max-width: 1200px) and (min-width: 1140px) {
    .menu_contant {
        width: 47%;
        height: 130px;
    }
    .menu_contant_image img{
        width: 130px;
    }
    .menu_contant_info_price_btn{
        width: 80px;
    }
} 
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .menu_contant {
        width: 47%;
    }
    .menu_contant_image img{
        width: 150px;
    }
    .menu_contant_info_price_btn{
        width: 90px;
    }
} 
@media only screen and (min-width: 1610px) {
  .slider{
    position: absolute;
    right: 20%;
    left: 20%;
  }

} 