@font-face {
    font-family: iransans;
    src: url(./FontsFree-Net-ir_sans.ttf);
}
body{
    background-color:var(--body);
    font-family: 'iransans';
    box-sizing: border-box;
    color: var(--white);
}
::-webkit-scrollbar {
    height: 5px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 3px solid #cf871c;
  }


.info-header{
    display: flex;
    justify-content: center;
}
.info-header_instagram{
    display: flex;
    margin: 5px;
    margin-top: 15px;
    align-items: center;
}
.info-header_instagram img {
    width: 20px;
    padding: 5px;
}
.info-header_instagram span{
    font-size: 12px;
    color: var(--white);
}
.info-header_phone{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
}
.info-header_phone img{
    width: 20px;
    padding: 5px;
}
.info-header_phone span{
    font-size: 12px;
}

/* ************************************************************************ */

.breakfast{
   direction: rtl;
   display: flex;
   flex-wrap: wrap; 
}
.minaBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.espressoBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.iceCoffee{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.coffeeBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}

.hotDrinks{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.drinkChoise{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.naturalJuise{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.smoothieBulls{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.milkShake{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.cake{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.appetizers{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.fries{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.sandwiches{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.pasta{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.grill{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.accompanying{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.sauces{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.pizza{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}
.persian{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
}

.menu_contant{
    display: flex;
    margin: 10px;
    max-width: 100%;
    width: 695px;
    background-color: var(--menu-item);
    border-radius: 5px;
    position: relative;
}
.menu_contant_image img{
    padding-bottom: 0px;
    border-radius: 5px;
    width: 150px;
    height: 100%;
}
.menu_contant_info h4{
    line-height: 15px;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 10px;
}
.menu_contant_info p{
    line-height: 15px;
    width: 90%;
    font-size: 0.75rem;
    opacity: 0.65;
    padding: 10px;

}
.menu_contant_info_price{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.menu_contant_info_price_contant{
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.menu_contant_info_price_btn{
    background-color: var(--btn-order);
    cursor: pointer;
    padding: 8px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    font-size: 9px;
    font-family: 'iransans';
    width: 90px;
}
.Purchase-count{
    border: none;
    /* width: 70px; */
    cursor: pointer;
    padding: 3px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    /* display: none; */
}
.btn-counter-Decrement{
    width: 20px;
    background-color: var(--white);
    border-radius: 50%;
    color: var(--font-button);
   
}
.btn-counter-Increment{
    width: 20px;
    background-color: var(--white);
    /* background-color: var(--btn-counter); */
    border-radius: 50%;
    color: var(--font-button);
}
.unavalable img{
    position: absolute;
    border-radius: 5px;
    height: 80%;
    right: 300px;
    top: 10px;
    opacity: 1 !important;
}
.non{
    opacity: 0.6;
}
.pay-off{
    box-shadow: rgb(134, 53, 0) 0px -20px 30px -30px inset;
    background-color: rgb(192, 160, 40);
    width: 100%;
    border: none;
    min-height: 60px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    direction: rtl;
    font-family: 'iransans';
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.show{
    display: block;
}

.sliders{
    margin: 0px 30px;
}
.menu-bar{
    margin: 40px 70px 0px 70px;
    direction: rtl;
    /* display: flex; */
    /* flex-wrap: wrap; */


    /* -ms-overflow-style: none; /* for Internet Explorer, Edge */
    /* scrollbar-width: none; for Firefox */
    /* overflow-x: scroll;   */

    overflow: auto;
    white-space: nowrap;
    /* scrollbar-width: thin; */

    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}
.menu-bar_section{
    cursor: pointer;
    border-radius: 10px;
    background: var(--menubar);
    margin: 10px 5px;
    min-width: 90px;
    border: none;
    color: var(--white);
}
.menu-bar_section_click{
    background-color: var(--menubar-click-primary);
    background-image: var(--menubar-click);
}
.menu-bar_section img{
    width: 30px;
    vertical-align: middle;
    margin: 5px auto;
}
.nu-bar_section_info{
    text-align: center;
}
.menu-bar_section_name-en{
    font-size: 10px;
    padding: 3px 0;
}
.menu-bar_section_name-fa{
    font-size: 11px;
    padding: 3px 0;
    padding-bottom: 8px;
}
.hrLine{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px;
}
.hrLine p{
    color: var(--hrLineFont);
}
.hrLine span{
    background-color:var(--hrLineBack);
    flex-grow: 1;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}



/* //////////////////////////////////////////// css popup//////////////////////////////////////////////// */
.modal{
    height: 600px;
    overflow-y: scroll !important;
}

.modal-content{
    background-color: var(--body);
    direction: rtl;
    border-radius: 30px;

}
.modal-title{
    margin-right: 25px;
}
.content_pay{
    height: 35px;
    width: 95%;
}
.modal-body img{
    width: auto;
    border-radius: 60%;

}
.modal-body h4{
    font-size: 10px;
}
.modal-body p{
    font-size: 10px;
    padding: 5px;
}
.menu_contant_info-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.button-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.button-counter button{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: var(--font-button);
    font-size: 10px;
    /* padding-bottom: 10px; */
}
.button-counter span{
    margin: 0px 5px;
    font-size: 12px;
}
.btn-info:active, .btn-info:hover, .btn-info:focus {
    color: #fff;
    /* background-color: #31b0d5; */
    /* border-color: #269abc; */
    background-color: var(--menubar-click-primary);
    background-image: var(--menubar-click);
}
.btn-info:focus{
    /* outline: 5px auto -webkit-focus-ring-color; */
    /* outline-offset: -2px; */
    outline: none;
}
.payment-modal{
    padding: 10px 30px 30px 0px;
    font-size: 14px;
    font-weight: bold;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: 
    vaghti safhe barek tar v akochik tar az 768*/
    .menu_contant {width: 100%;}
}
@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .menu_contant {
        width: 400px;
        flex-grow: 1;
    }
}