@font-face {
    font-family: iransans;
    src: url(./FontsFree-Net-ir_sans.ttf);
}
body{
    background-color:var(--body);
    font-family: 'iransans';
    box-sizing: border-box;
    color: var(--white);
}
/* dir="rtl" */

.info-header{
    display: flex;
    justify-content: center;
}
.info-header_instagram{
    display: flex;
    margin: 5px;
    margin-top: 15px;
    align-items: center;
}
.info-header_instagram img {
    width: 20px;
    padding: 5px;
}
.info-header_instagram span{
    font-size: 12px;
    color: var(--white);
}
.info-header_phone{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
}
.info-header_phone img{
    width: 20px;
    padding: 5px;
}
.info-header_phone span{
    font-size: 12px;
}

/* ************************************************************************ */

.breakfast{
   direction: rtl;
   display: flex;
   flex-wrap: wrap; 
}
.minaBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -100px; */
}
.espressoBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -200px; */
}
.iceCoffee{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -300px; */
}
.coffeeBar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -400px; */
}

.hotDrinks{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -500px; */
}
.drinkChoise{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -600px; */
}
.naturalJuise{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -700px; */
}
.smoothieBulls{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -800px; */
}
.milkShake{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -900px; */
}
.cake{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1000px; */
}
.appetizers{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1100px; */
}
.fries{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1200px; */
}
.sandwiches{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1300px; */
}
.pasta{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1400px; */
}
.grill{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1500px; */
}
.accompanying{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1600px; */
}
.sauces{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1700px; */
}
.pizza{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1800px; */
}
.persian{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -1900px; */
}

.menu_contant{
    display: flex;
    margin: 10px;
    max-width: 100%;
    width: 695px;
    background-color: var(--menu-item);
    border-radius: 5px;
    position: relative;
}
.menu_contant_image img{
    padding-bottom: 0px;
    border-radius: 5px;
    width: 150px;
    height: 100%;
}
.menu_contant_info h4{
    line-height: 15px;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 10px;
}
.menu_contant_info p{
    line-height: 15px;
    width: 90%;
    font-size: 0.75rem;
    opacity: 0.65;
    padding: 10px;

}
.menu_contant_info_price{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.menu_contant_info_price_contant{
    display: flex;
}
.menu_contant_info_price_btn{
    background-color: var(--btn-order);
    cursor: pointer;
    padding: 3px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.Purchase-count{
    border: none;
    /* width: 70px; */
    cursor: pointer;
    padding: 3px;
    color: var(--white);
    border-radius: 5px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    /* display: none; */
}
.btn-counter-Decrement{
    width: 20px;
    background-color: var(--white);
    border-radius: 50%;
   
}
.btn-counter-Increment{
    width: 20px;
    background-color: var(--white);
    /* background-color: var(--btn-counter); */
    border-radius: 50%;
}

.pay-off{
    box-shadow: rgb(134, 53, 0) 0px -20px 30px -30px inset;
    background-color: rgb(192, 160, 40);
    width: 100%;
    border: none;
    min-height: 60px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    direction: rtl;
    font-family: 'iransans';
    font-weight: bold;
    cursor: pointer;
}

.show{
    display: block;
}


.menu-bar{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-bar_section{
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(to left top, rgba(134, 53, 0, 0.09),
     rgba(134, 53, 0, 0))
     rgba(134, 53, 0, 0.02);
    margin: 10px 5px;
    min-width: 90px;
    border: none;
}
.menu-bar_section_click{
    background-color: rgb(196, 145, 91);
    background-image: radial-gradient(circle, rgb(221, 178, 131), rgb(210, 119, 21), rgb(106, 56, 2));
}
.menu-bar_section img{
    width: 30px;
    vertical-align: middle;
    margin: 5px auto;
}
.nu-bar_section_info{
    text-align: center;
}
.menu-bar_section_name-en{
    font-size: 10px;
    padding: 3px 0;
}
.menu-bar_section_name-fa{
    font-size: 11px;
    padding: 3px 0;
    padding-bottom: 8px;
}