@font-face {
    font-family: iransans;
    src: url(../../fonts/FontsFree-Net-ir_sans.ttf);
}
body{
    box-sizing: border-box;
    max-width: 1600px;
}
.sidebar a:active, .sidebar a:focus-within{
    color: rgb(95, 97, 180) !important;
  }
  .glyphicon{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 5px;
    color: #818181;
    display: inline;
  }
  .glyphinAccount{
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .sidebar {
    margin-top: 65px;
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .mySidebarWidthOpen{
    width: 280px;
    transition: width 0.5s;
  }
  .mySidebarWidthClose{
    width: 120px;
    transition: width 0.5s;
  }
  .sidebar ul li{
    padding: 10px 0px;
    list-style-type: none;
    margin-left: -10px;
  }
  .sidebar ul li a{
    font-size: 14px;
    /* display: inline; */
    padding-left: 3px;
    /* display: none; */
  
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 60px;
  }
  
  .openbtn {
    position: absolute;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    background-color: #000000;
    color: rgb(9, 9, 9);
    /* padding: 10px; */
    left: 120px;
  }
.openbtnToggleOpen{
  top: 65px;
    left: 250px !important;
    transition: left 0.5s;
}
.openbtnToggleClose{
  top: 65px;
    left: 90px !important;
    transition: left 0.5s;
}
  .glyphicon-triangle-right{
    padding-left: 0px;
    padding-right: 0px;
    color: rgb(9, 9, 9);
  }
  
  .openbtn:hover .glyphicon-triangle-right{
    color: rgb(95, 97, 180);

  }
  
  #VerticalNavigationButton {
    transition: margin-left .5s;
    /* padding: 16px; */
  }
  .mainMarginleftOpen{
    margin-left: 250px;
  } 
  .mainMarginleftClose{
    margin-left: 0px;
  } 
  .headerVerticalNav{
    background-color: rgb(37 37 37 / 70%);
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .logoVerticalNav{
    width: 60px;
    margin: 30px;
    border-radius: 10px;
  }
  .brandName{
    color: white;
    font-size: 20px;
    display: none;
  }
  .subLink{
    padding-left: 65px;
  }
  .subLink li a{
    font-size: 11px !important;
  }
  .subLink li{
    list-style-type: circle !important;
  }
  .openDropdown{
    display: block;
  }
  .closeDropdown{
    display: none;
  }
  .collapsibleGlyphHide{
    display: none;
  }
  .collapsibleGlyphShow{
    display: inline-block;
  }
  .account {
    position: absolute;
    bottom: 0;
  }
  .account a span:active, .account a span:focus-within, .account a span:hover{
    color: blueviolet !important;
  }
  .account a, .account span{
    font-size: 15px;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
    font-size: 10px;
    padding-left: 5px;
  
  }
  .profile, .logout{
    display: none ;
  }
  
  .displayInline {
    display: inline !important;
    /* opacity: 1; */
  }

  .displayNone{
    display: none !important;
    opacity: 0;
  }
  .colorLink{
    color: rgb(95, 97, 180) !important;
  }

  .openerOcloser{
    padding: 0px !important;
    font-size: 13px !important;
    color: white;
    /* background-color: black; */
    /* margin-left: -3px !important; */
    margin: 0px !important;
  }
  
  /* scrroll  */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 88, 176); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 114, 170); 
   
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  
@media only screen and (max-width: 720px) {
  .sidebar ul li a{
    font-size: 11px ;
  }
  .subLink li a{
    font-size: 9px !important;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
    font-size: 5px !important;
    padding-left: 0;
    margin-left: -3px !important;
  }
  .glyphicon{
    font-size: 13px;
    margin-left: -15px;
  }
  .mySidebarWidthOpen{
    width: 130px;
  }
  .mySidebarWidthClose{
    width: 50px;
  }
  .openbtnToggleOpen {
    left: 101px !important;
  }
  .openbtnToggleClose{
    left: 22px !important;
  }
  .logoVerticalNav{
    width: 30px;
    margin: 10px;
  }
  .brandName{
    font-size: 12px;
  }
  .openbtn {
    font-size: 11px;
  }
  ol, ul {
    margin-left: -18px !important;
  }
  .openerOcloser{
    font-size: 13px !important;
    margin-left: -3px !important;
  }
  .glyphicon-align-justify{
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 960px) and (min-width: 720px) {
  .sidebar ul li a{
    font-size: 13px ;
  }
  .subLink li a{
    font-size: 10px !important;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
    font-size: 8px !important;
    padding-left: 0;
  }
  .glyphicon{
    font-size: 15px;
  }
  .mySidebarWidthOpen{
    width: 180px;
  }
  .mySidebarWidthClose{
    width: 80px;
  }
  .openbtnToggleOpen {
    left: 152px !important;
  }
  .openbtnToggleClose{
    left: 52px !important;
  }
  .logoVerticalNav{
    width: 50px;
    margin: 20px;
  }
  .brandName{
    font-size: 12px;
  }
  .openbtn {
    font-size: 13px;
  }
  ol, ul {
    margin-left: -10px !important;
}
} 

@media only screen and (max-width: 1140px) and (min-width: 960px) {
  .sidebar ul li a{
    font-size: 13px ;
  }
  .subLink li a{
    font-size: 11px !important;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
    font-size: 8px !important;
    padding-left: 0;
  }
  .glyphicon{
    font-size: 18px;
  }
  .mySidebarWidthOpen{
    width: 200px;
  }
  .mySidebarWidthClose{
    width: 90px;
  }
  .openbtnToggleOpen {
    left: 172px !important;
  }
  .openbtnToggleClose{
    left: 61px !important;
  }
  .logoVerticalNav{
    width: 60px;
    margin: 25px;
  }
  .brandName{
    font-size: 14px;
  }
  .openbtn {
    font-size: 15px;
  }
} 

@media only screen and (max-width: 1400px) and (min-width: 1140px) {
  .sidebar ul li a{
    font-size: 14px ;
  }
  .subLink li a{
    font-size: 11px !important;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
    font-size: 10px !important;
  }
  .glyphicon{
    font-size: 20px;
  }
  .mySidebarWidthOpen{
    width: 230px;
  }
  .mySidebarWidthClose{
    width: 100px;
  }
  .openbtnToggleOpen {
    left: 201px !important;
  }
  .openbtnToggleClose{
    left: 72px !important;
  }
  .logoVerticalNav{
    width: 60px;
    margin: 30px;
  }
  .brandName{
    font-size: 18px;
  }
} 

